
<td class="col-xs-1 unselectable">
    <div class="icon_wrapper_container">
        <div class="icon_wrapper"><img src="@(itemIcon.Contains("icon0.png") ? "icon0.png" : itemIcon)" width="30vh" height="30vh"></div>
        <div class="icon_wrapper"><img src="/images/icon_grade1.png" width="30vh" height="30vh"></div>
    </div>
</td>


@code {
    [Parameter]
    public string? itemIcon { get; set; }
}
