@using Maple2.File.Parser.Xml.Item
<td class="col-xs-1 unselectable">
    <div class="icon_wrapper_container">
        <div class="icon_wrapper"><img src="@(Item.slotIcon.Contains("icon0.png") ? Item.slotIconCustom : Item.slotIcon)" width="30vh" height="30vh"></div>
        <div class="icon_wrapper"><img src="/images/icon_grade1.png" width="30vh" height="30vh"></div>
    </div>
</td>


@code {
    [Parameter]
    public Property Item { get; set; }
}