@page "/"
@using Maple2.File.Parser.Xml.Item
@using Maplecodex2.Data.Helpers
@using Maplecodex2.Data.Models

<!-- Logo -->
<nav class="nav navbar unselectable">
    <a href="http://rafamod.com" class="container"><img src=site_logo.png /></a>
</nav>

<ItemDetails ItemInfo=@ItemInfo />


@code {
    public Item ItemInfo { get; set; }

    protected override void OnInitialized()
    {
        DataHelper data = new();
        ItemInfo = data.InitParser();

        base.OnInitialized();
    }
}