@page "/"

<!-- Logo -->
<div class="container">
    <nav class="navbar unselectable">
        <a href="http://ludari.online"><img src=/site_logo.png /></a>
    </nav>
</div>
<!-- Render Result Page.-->
<Results />
<ItemDetails Id=10200001 />
