@using Maplecodex2.Data
@using Maplecodex2.Data.Services
@using Maplecodex2.Data.Models
@using Maplecodex2.Data.Storage
@using Maplecodex2.Data.Helpers
@inject ItemService ItemService

@*// Items //*@
@page "/item"
<nav class="container header navbar justify-content-around">
    <h2>Maplecodex2</h2>
    <form class="form-inline">
        <input class="form-control" @bind-value=SearchId @bind-value:event="oninput" onclick=@SearchItemAsync() type="search" placeholder="type id, e.g 10200001" aria-label="Search">
    </form>
</nav>

<div class="container results">
    <table>
        <thead>
            <tr>
                <th>Icon</th>
                <th>ID</th>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@item?.Icon</td>
                <td>@item?.Id</td>
                <td>@item?.Type</td>
                <td>@item?.Name</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    private Item? item;
    private int SearchId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        item = await ItemService.GetItemAsync(0);
    }

    public async Task SearchItemAsync()
    {
        item = await ItemService.GetItemAsync(SearchId >= 0 ? SearchId : 1);
    }
}