@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Anek Odia', sans-serif;
}

/* ============================
           COLOR HEX
   ============================
*/
* {
    --sushi: #1e1e1e;
    --cod-green: #08110a;
    --woodland: #3a5523;
    --yukon-gold: #5c6c04;
    --stromboli: #376450;
    --black-olive: #232f16;
    --lochinvar: #68b587;
    --camouflage: #343c10;
    --timber-green: #1e3530;
    /* ELEMENTS COLORS*/
    --navbar-bg: var(--sushi);
    --navbar-color: white;
    --td-color: white;
    --th-bg-color: var(--camouflage);
    --th-color: #c9f5fc;
    box-sizing: border-box;
}

.icon_wrapper {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: -5px;
}

/* ============================
          FLEX CLASSES
   ============================
*/

.item-align-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: baseline;
}

.item-align-columns {
    flex-direction: column;
    margin-top: 5px;
}

.show-more {
    margin-left: auto;
}

.footer {
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-size: 11px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
}
    .footer a {
        text-decoration: none;
    }

.tr-index-style {
    background: #ededed;
}

table td {
    vertical-align: middle;
    font-size: 14px;
}


/* ============================
        FIXES / CUSTOMS
   ============================
*/

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
    background-color: var(--navbar-bg);
    color: var(--navbar-color);
    box-shadow: -1px 4px 9px -6px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 4px 9px -6px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 4px 9px -6px rgba(0,0,0,0.78);
    text-shadow: 1px 1px 1.5px rgba(0,0,0,0.45);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-fix {
    margin-left: 8px;
}

/* ============================
            DARK MODE 
   ============================
*/

/* ============================
         Blazor Components 
   ============================
*/
h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


/* ============================
           MAPLECODEX2
   ============================
*/

.body-layout {
    background-color: #c5cdd0;
}



.block--category .block-body {
    color: #090a0a;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px !important;
    border-color: rgba(20,20,20,0.16);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 2px, inset rgb(0 0 0 / 8%) 0px -5px 20px;
    background-clip: padding-box;
}

    .block--category .block-body th {
        background-color: #2b2c31;
        color: white;
        
    }
        .block--category .block-body th:last-of-type {
            border-radius: 0 4px 4px 0;
        }
        .block--category .block-body th:first-of-type{
            border-radius: 4px 0 0 4px;
        }

    .block--category .block-body td {
        background-color: #37383d;
        color: #ededed;
    }

        .block--category .block-body td:hover{
            cursor: pointer;
            background-color: #313237;
        }

    .block--category .block-body .img-thumbnail {
        background: #d2d6e0 !important;
    }

.block--category .block-header {
    padding: 15px 13px;
    background-color: #2b2c31;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 6px;
}

.block-header {
    padding: 12px 12px;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: #1e1e1e;
    border: 1px solid #111;
}

.block-header a {
    color: inherit;
    text-decoration: none;
}

/* CSS */
.button-3 {
    appearance: none;
    background-color: #2e51a4;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c4597;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

    .button-3:active {
        background-color: #29348e;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
        box-shadow: none;
    } 