@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap');

/* ============================
           COLOR HEX
   ============================
*/
* {
    --sushi: #abd200;
    --cod-green: #08110a;
    --woodland: #3a5523;
    --yukon-gold: #5c6c04;
    --stromboli: #376450;
    --black-olive: #232f16;
    --lochinvar: #68b587;
    --camouflage: #343c10;
    --timber-green: #1e3530;
    /* ELEMENTS COLORS*/
    --navbar-bg: var(--sushi);
    --navbar-color: white;
    --td-color: white;
    --th-bg-color: var(--camouflage);
    --th-color: #c9f5fc;
}

.copied {
    color: var(--lochinvar);
    text-shadow: 1px 1px 1px rgba(156,133,23,0.53);
}

.uncopied {
    cursor: pointer;
}

/* ============================
         ICON SET STYLE
   ============================
*/
.iconset_wrapper_big {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: auto
}

.icon_wrapper {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: -5px;
}

.dt-icon {
    width: 40px;
    text-align: center
}

.item-icon {
    vertical-align: top;
    width: 45px;
}

/* ============================
          FLEX CLASSES
   ============================
*/

.item-align-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 1vh;
}

.item-align-columns {
    flex-direction: column;
    margin-top: 5px;
}

.show-more {
    margin-left: auto;
}

.footer {
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    font-size: 12px;
}

.th-index-style {
    background: var(--th-bg-color);
    color: white;
    text-shadow: 1px 1px 1.5px rgba(0,0,0,0.45);
    font-size: 13px;
}

.tr-index-style {
    background: var(--td-color);
    font-size: 15px;
}

.body-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* ============================
        ITEM INFO STYLE
   ============================
*/

/* LINE */
.hr_long {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,white,white 9%,white 91%,white);
    background-image: -moz-linear-gradient(left,white,white 9%,white 91%,white);
    background-image: -ms-linear-gradient(left,white,white 9%,white 91%,white);
    background-image: -o-linear-gradient(left,white,white 9%,white 91%,white);
    margin-bottom: 10px;
    margin-top: 10px
}

.item_info {
    display: inline-block;
    max-width: 700px;
    vertical-align: top;
    overflow: hidden;
}

.center_item {
    box-shadow: -1px 4px 9px rgba(0,0,0,0.78);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.itemwhite_table {
    border: 0;
    width: 100%;
    padding-left: 25px;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    color: var(--sushi);
    text-shadow: 1.2px 1.2px rgb(52 60 16 / 0.62);
}

.outer {
    box-shadow: 0 0 1px 1px var(--woodland),inset 0 0 0 1px var(--sushi);
    background: rgba(8, 17, 10, 0.7);
    border: 1px solid var(--yukon-gold);
    padding: 5px;
    width: 100%;
}


/* ============================
        FIXES / CUSTOMS
   ============================
*/

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
    background-color: var(--navbar-bg);
    color: var(--navbar-color);
    box-shadow: -1px 4px 9px -6px rgba(0,0,0,0.78);
    -webkit-box-shadow: -1px 4px 9px -6px rgba(0,0,0,0.78);
    -moz-box-shadow: -1px 4px 9px -6px rgba(0,0,0,0.78);
    text-shadow: 1px 1px 1.5px rgba(0,0,0,0.45);
}

    .navbar > a > img {
    }

html, body {
    font-family: 'Roboto', sans-serif;
}

.body_fix {
    background-color: white;
}

.table-shadow {
    box-shadow: -1px 2px 5px -4px rgba(0,0,0,0.48);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-fix {
    margin-left: 8px;
}

/* ============================
            DARK MODE 
   ============================
*/
.table-shadow_dark-theme {
    box-shadow: -1px 2px 5px -4px rgba(255,255,255,0.5);
    -webkit-box-shadow: -1px 2px 5px -4px rgba(255,255,255,0.5);
    -moz-box-shadow: -1px 2px 5px -4px rgba(255,255,255,0.5);
}

/* ============================
         Blazor Components 
   ============================
*/
h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


/* ============================
           MAPLECODEX2
   ============================
*/

.items{
    display: flex; 
    width: 100%; 
    align-items: stretch;
}

.items .card-header{
    display: flex;
    gap: 0.5vh;
}

.items .card-header div{
    display: flex; 
    flex-direction: column;
}

.items .card-header div h4{
    display: contents;
}