
<footer class="footer mt-auto py-2 bg-light">
    <div class="container">
        <span style="" class="text-muted">Created by <a href="https://github.com/sparkymod">Sparkymod</a>.</span>
    </div>
</footer>